.idea
node_modules
.env.development.local
.cache/
build/
src/styles/styles.processed.css
coverage/

 Ignore test screenshots
backstop_data/bitmaps_test/

# Ignore HTML reports
backstop_data/html_report/

# Ignore CI reports
backstop_data/ci_report/
