.idea
node_modules
.env.development.local
.cache/
build/
src/styles/styles.processed.css
coverage/

 Ignore test screenshots
tests_visual_regression/bitmaps_test/

# Ignore HTML reports
tests_visual_regression/html_report/

# Ignore CI reports
tests_visual_regression/ci_report/
