@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #333;
  --neutral-color: #e0cec2;
  --alt-color: #e76b65;
  --sub-color: #ddd;
  --page-bg: #f9f8f5;
  --input-bg: #f9f8f5;
  --block-bg: #fdfcf8;
  --primary-font: 'EB Garamond', serif;
  --cursive-font: 'Uncial Antiqua', cursive;

  background-color: var(--page-bg);
}

@media print {
  :root {
    --primary-color: #444;
    --neutral-color: #ccc;
    --alt-color: #111;
    --sub-color: #ccc;
    --page-bg: #fff;
    --block-bg: #fff;
    --input-bg: #fff;
  }

  body {
    print-color-adjust: exact;
    background: #00c7b5;
  }

  .no-print {
    display: none !important;
  }

  .brick,
  .flex,
  .grid {
    overflow: hidden;
  }

  .page {
    width: 210mm;
    height: 297mm;
  }

  .brick {
    margin-bottom: 2mm;
    padding: 5mm;
  }
}

@page {
  size: A4;
  margin: 10px;
  padding: 10px;
  background: var(--page-bg);
}

body {
  font-family: var(--primary-font);
  margin: 0 auto;
  padding: 0;
  background: var(--page-bg);
  color: var(--primary-color);
  font-size: 16px;
}

a {
  color: var(--alt-color);
}

h1 {
  font-family: var(--cursive-font);
  text-align: center;
  margin: 0;
  font-size: 36px;
  color: var(--alt-color);
}

h2 {
  font-family: var(--cursive-font);
  font-size: 24px;
  color: var(--alt-color);
  margin: 0 0 10px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 2px;
  vertical-align: top;
}

input,
textarea {
  outline: none;
  background: var(--input-bg);
  width: 100%;
  resize: none;
  border: 1px solid var(--sub-color);
  font-family: var(--primary-font);
  font-size: 16px;
  padding: 0.1rem 0.15rem;
}

input:focus,
textarea:focus {
  border: 1px solid var(--alt-color);
}

label {
  font-weight: 600;
}
h2 label {
  font-weight: normal;
}

h1 input {
  font-size: 30px;
  border-color: transparent;
  text-align: center;
  font-family: var(--cursive-font);
}

table th,
table td {
  vertical-align: middle;
}

table th:first-child,
table td:first-child {
  text-align: right;
  padding-right: 0.5rem;
}

[hidden] {
  display: none;
}

.page {
  width: 900px;
  box-sizing: border-box;
  margin: 1.25rem auto;
  //padding: 10px;
  //height: 100vh;

  // weird issue with 1st page
  &:nth-child(1) {
    page-break-after: always;
  }
}

.brick {
  border: 1px solid var(--neutral-color);
  padding: 15px 20px;
  margin-bottom: 10px;
  background: var(--block-bg);
}

.brick--header input {
  max-width: 120px;
}

.brick--second input {
  max-width: 70px;
}

.brick--second {
  .attribute-bonuses td:nth-child(1) {
    width: 100%;
  }
  .attribute-bonuses td:nth-child(2) {
    width: 70px;
  }
}

.attribute-bonuses {
  text-align: right;
}

.page-delimiter {
  page-break-after: always;
}

.table--weapons th {
  text-align: left !important;
}

.table--weapons {
  table-layout: fixed;
  width: 100%;
}

.table--weapons th:first-child,
.table--weapons td:first-child {
  width: 50%;
}

.table--weapons th:nth-child(2),
.table--weapons td:nth-child(2),
.table--weapons th:nth-child(3),
.table--weapons td:nth-child(3),
.table--weapons th:nth-child(4),
.table--weapons td:nth-child(4) {
  width: 16.66%;
}
