@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  font-weight: 700;
}

.font-serif {
  font-family: serif;
}

.text-details {
  font-weight: 300;
}

.two-columns {
  column-count: 2;
  column-gap: 1rem; /* Adjust the gap between columns if needed */
}

div:empty {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Define the keyframes for the running gradient */
@keyframes runningGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.transition-gradient {
  transition:
    color 2s ease,
    background 2s ease;
}

/* Apply the animation on hover */
.transition-gradient:hover {
  background: linear-gradient(270deg, #00ffff, #d900ff, #007cc0);
  background-size: 300% 300%;
  animation: runningGradient 6s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.column-count-2 {
  columns: 2;
}

.break-inside-avoid {
  break-inside: avoid;
}
