@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #333;
  --neutral-color: #e0cec2;
  --alt-color: #e76b65;
  --sub-color: #bc827c;
  --sub-color-focus: #a06565;
  --3rd-color: #6a5a8a;
  --3rd-color-focus: #382f4c;
  --muted-color: #6b7280;
  --page-bg: #fff;
  --input-bg: #f9f8f5;
  --block-bg: #fdfcf8;
  --primary-font: sans-serif;
  --cursive-font: 'Uncial Antiqua', cursive;

  background-color: var(--page-bg);
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
  margin: 0 auto;
  padding: 0;
  background: var(--page-bg);
  color: var(--primary-color);
  font-size: 16px;
}

a {
  color: var(--alt-color);
}

h1 {
  font-family: var(--cursive-font);
  margin: 0;
  font-size: 36px;
  color: var(--alt-color);
}

h2 {
  font-family: var(--cursive-font);
  font-size: 24px;
  color: var(--sub-color);
  margin: 0 0 10px;
}

input[disabled],
button[disabled] {
  cursor: not-allowed;
}

button[disabled] {
  &,
  &:hover {
    @apply bg-gray-300;
  }
}

#stop-sim:not([disabled]) {
  &,
  &:hover {
    background: var(--alt-color);
  }
}

.primary-button {
  @apply text-white rounded transition-colors duration-200;
  background: var(--sub-color);

  &:hover {
    background: var(--sub-color-focus);
  }
}

.mid-button {
  @apply px-4 py-1.5;
}

.secondary-button {
  @apply text-white rounded transition-colors duration-200;
  background: var(--3rd-color);

  &:hover {
    background: var(--3rd-color-focus);
  }
}

.color-muted {
  color: var(--muted-color);
}

.bg-muted {
  @apply bg-gray-200;
}

label {
  color: var(--3rd-color);
}

table {
  select,
  option {
    min-width: 40px;
  }
}

abbr {
  text-underline-offset: 0.2rem;
}
abbr:hover {
  cursor: help;
}

#progress-bar::-webkit-progress-value {
  background-color: var(--alt-color);
}
#progress-bar::-ms-fill {
  background-color: var(--alt-color);
  border: none;
}

.tab-header {
  @apply border-b-2 px-4 py-2;
  color: var(--muted-color);

  &.active {
    @apply border-blue-600 text-blue-600;
    color: var(--sub-color);
    border-color: var(--sub-color);
  }
}

.remove-row {
  color: var(--alt-color);
}
.duplicate-row {
  color: var(--3rd-color);
}

.table-header--name {
  min-width: 100px;
}

#result-log p:empty {
  height: 1rem;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-img {
  display: inline-block;
  transform-origin: center;

  &:hover {
    animation: rotate360 1s ease-in-out forwards;
  }
}

@keyframes rotate-emoji {
  to {
    transform: rotate(360deg);
  }
}

#run-sim {
  position: relative;
  background: var(--alt-color);

  &.inline-loading-indicator::after {
    content: '🕸️';
    display: inline-block;
    margin-left: 0.5rem;
    opacity: 1;
    animation: rotate-emoji 1s linear infinite;
  }
}

#result-log {
  transition: background-color 0.2s ease;
}
