.inventory-container {
  border-radius: 5px;
  border-color: #e5e7eb;
}

.inventory-container.selected {
  border-color: #bbb;
}

h1,
h2 {
  font-family: serif;
  /*letter-spacing: 1px;*/
  color: #77899e;
}

.two-columns {
  column-count: 2;
  column-gap: 1rem; /* Adjust the gap between columns if needed */
}

div:empty {
  display: none;
}

.text-alt {
  color: #a13d68;
}

.text-sub {
  color: #cea181;
}

#inventory-container-title {
  font-family: sans-serif;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
