html,
body {
  font-family: 'Press Start 2P', system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  @apply text-xs;
  @apply md:text-sm;
  @apply xl:text-base;
  color: #888;
}

.body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 128px;
  background-image: url('../images/tiles/rhomb-top.png');
  background-repeat: repeat;
  background-size: 80px 80px; /* 64px tile + 16px gap */
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #77899e;
}

.input {
  border-width: 0;
}

.press-start-2p-regular {
  font-family: 'Press Start 2P', system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.textarea-json {
  white-space: pre;
  font-family: 'Press Start 2P', monospace, sans-serif;
}

.text-alt {
  color: #e76b65;
}

.hover\:text-alt:hover {
  color: #a13d68;
}

.bg-alt {
  background-color: #a13d68;
}

.text-sub {
  color: #cea181;
}

.border-alt {
  border: 1px solid #a13d68;
}

.page-content-column {
  @apply bg-white flex-grow-0 flex-shrink-0 w-1/2 p-4 border;
}

.page-content-column {
  width: 100%; /* Make sure the content takes full width in the tab */
  flex-shrink: 0;
  flex-grow: 0;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1rem;
}

@media (min-width: 768px) {
  .page-content-column {
    width: 50%; /* Restore the side-by-side layout for larger screens */
  }

  .tabs-content-columns {
    display: none;
  }

  .inventory-column {
    display: block;
  }
}

.text-details {
  color: #7c725a;
}

.inventory-container {
  @apply bg-white;
  @apply border;
}

.minimise-inventories-btn {
  height: 1.5rem;
  min-height: 1.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  @apply text-xs;
  @apply md:text-xxxs;
  @apply text-white;
}

.inventory-controls {
  @apply mt-0;
}

.inventory-controls-btn {
  @apply bg-white;
  @apply hover:text-white hover:bg-primary;
  @apply focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-0;
  @apply text-xs text-gen-400;
  @apply border border-neutral-content;
  @apply px-2 py-1;
}

.inventory-header {
  @apply mx-4 my-2;
  @apply text-gen-700 text-2xl mb-4 hover:text-red-700 hover:cursor-pointer;
  @apply flex items-center;
}

.char-stats {
  @apply mx-4 my-2;
}

.base-movement-rate-container {
  @apply text-base;
}

.movement-details-wrapper {
  @apply block;
}

.movement-details {
  @apply text-xs mx-4 my-2;
}

.movement-details-item {
}

.movement-details-item__number {
  @apply text-alt;
}

.char-saving-throw {
  @apply text-base mb-2;
}

.char-saving-throw--details {
  @apply text-xs;
}

.tabs-content-columns .tab {
  --tab-color: white;
  @apply bg-neutral;
}

.table-stats td,
.table-bonuses td {
  @apply text-base;
  @apply md:text-sm;
  @apply px-4 py-2;
  text-overflow: ellipsis;
}

.inventory-container {
  @apply border-8 border-neutral-content;

  &.selected {
    @apply border-secondary;
  }
}
