@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&display=swap');

html,
body {
  color: #333;
  //font-family: 'Averia Serif Libre', serif;
  font-family: 'Special Elite', system-ui;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  //font-family: 'Averia Serif Libre', serif;
  font-family: 'Special Elite', system-ui;

  font-weight: 700;
  color: #77899e;
}

.text-alt {
  color: #a13d68;
}

.hover\:text-alt:hover {
  color: #a13d68;
}

.bg-alt {
  background-color: #a13d68;
}

.text-sub {
  color: #cea181;
}

.border-alt {
  border: 1px solid #a13d68;
}
