@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&display=swap');

html,
body {
  color: #333;
  //font-family: 'Averia Serif Libre', serif;
  font-family: 'Special Elite', system-ui;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  //font-family: 'Averia Serif Libre', serif;
  font-family: 'Special Elite', system-ui;

  font-weight: 700;
  color: #77899e;
}

.text-alt {
  color: #a13d68;
}

.hover\:text-alt:hover {
  color: #a13d68;
}

.bg-alt {
  background-color: #a13d68;
}

.text-sub {
  color: #cea181;
}

.border-alt {
  border: 1px solid #a13d68;
}

.inventory-container {
  border-radius: 5px;
  border-color: #e5e7eb;
  @apply bg-white px-4 py-4 border shadow-lg;
}

.page-content-column {
  @apply bg-white flex-grow-0 flex-shrink-0 w-1/2 p-4 border shadow-lg rounded-lg;
}

.minimise-inventories-btn {
  @apply btn-xs;
}

.inventory-controls {
  @apply absolute top-0 right-0;
}

.inventory-controls-btn {
  @apply bg-white;
  @apply hover:text-white hover:bg-gen-300;
  @apply focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-0;
  @apply text-xs text-gen-400;
  @apply border border-r-0;
}

.inventory-header {
  @apply px-4 py-2;
  @apply text-gen-700 text-2xl mb-4 hover:text-red-700 hover:cursor-pointer;
}

.movement-details {
  @apply text-sm mb-2;
}

.char-saving-throw {
  @apply text-sm mb-2;
}

.page-footer {
  @apply text-secondary;
}
