:root {
  --primary-color: theme('colors.primary');
  --primary-focus-color: theme('colors.primary-focus');
  --neutral-color: theme('colors.neutral');
  --neutral-focus-color: theme('colors.neutral-focus');
  --alt-color: #e76b65;
  --sub-color: #cea181;
}

html,
body {
  font-family: 'Press Start 2P', system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  word-spacing: -0.25rem;
}

body {
  @apply text-xs;
  @apply md:text-sm;
  @apply xl:text-base;
  color: #888;
}

ul {
  list-style-type: square;
}

/* Apply those custom properties using @apply */
::-webkit-scrollbar {
  width: 12px;
  @apply bg-neutral;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 2px solid var(--neutral-color);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-focus-color);
}

::-webkit-scrollbar-track {
  @apply bg-neutral-focus;
}

::-webkit-scrollbar-corner {
  @apply bg-neutral;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--neutral-color);
}

.body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 128px;
  //background-image: url('../images/tiles/rhomb-top.png');
  background-repeat: repeat;
  background-size: 80px 80px; /* 64px tile + 16px gap */
}

h1,
h2,
h3 {
  font-weight: 700;
  letter-spacing: 0.1rem;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.input {
  border-width: 0;
}

.press-start-2p-regular {
  font-family: 'Press Start 2P', system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.textarea-json {
  white-space: pre;
  font-family: 'Press Start 2P', monospace, sans-serif;
}

.text-alt {
  color: var(--alt-color);
}

.hover\:text-alt {
  &:hover {
    color: var(--alt-color);
  }
}

.bg-alt {
  background-color: var(--alt-color);
}

.text-sub {
  color: var(--sub-color);
}

.border-alt {
  border: 1px solid var(--alt-color);
}

.page-content-column {
  @apply bg-white flex-grow-0 flex-shrink-0 p-4 border;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1rem;
}

@media (min-width: 768px) {
  .page-content-column {
    width: 49.25%;
    /*width: calc(50% - 8px);*/
  }

  .tabs-content-columns {
    display: none;
  }

  .inventory-column {
    display: block;
  }
}

.text-details {
  color: var(--sub-color);
}

.inventory-container {
  @apply bg-white;
  @apply border;
}

.minimise-inventories-btn {
  height: 1.5rem;
  min-height: 1.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  @apply text-xs;
  @apply md:text-xxxs;
  @apply text-white;
  @apply bg-secondary;
  @apply border-0;

  &:hover {
    @apply bg-secondary-focus;
  }
}

.inventory-controls {
  @apply mt-0;
}

.inventory-controls-btn {
  @apply bg-white;
  @apply hover:text-white hover:bg-primary;
  @apply focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-0;
  @apply text-xs text-primary;
  @apply border-0 border-neutral-content border-r-4 border-b-4;
  @apply px-2 py-2;
  width: 34px;
  height: 32px;
  display: flex;
  align-items: center;
  text-align: center;

  .inventory-container.selected & {
    @apply border-secondary;
  }

  &.last {
    @apply border-r-0;
    width: 30px;
  }
  &.first {
    @apply border-l-4;
    width: 38px;
  }

  & > span {
    margin: 0 auto;
  }
}

.dropdown-content .inventory-controls-btn {
  @apply border;
  text-align: left;

  width: auto;
  height: auto;

  .inventory-container.selected & {
    @apply border-neutral-content;
  }
}

.inventory-header {
  @apply mx-4 mb-4 mt-0;
  @apply text-2xl text-sub;
  @apply hover:cursor-pointer;
  @apply flex items-center;

  &:hover,
  .inventory-container.selected & {
    @apply text-alt;
  }
}

.char-stats {
  @apply mx-4 my-2;
}

.base-movement-rate-container {
  @apply text-base;
}

.movement-details-wrapper {
  @apply block;
}

.movement-details {
  @apply text-sm mx-4 my-2;
  @apply text-gray-600;
}

.movement-details-item {
}

.movement-details-item__number {
  @apply text-alt;
}

.char-saving-throw {
  @apply text-base mb-2;
}

.char-saving-throw--details {
  @apply text-sm;
}

.emoji-icon {
  vertical-align: middle;
  position: relative;
  top: -0.25rem;
}

.tabs-content-columns .tab {
  --tab-color: white;
  @apply bg-neutral;
}

.table :where(thead, tfoot) {
  white-space: normal;
}

.table th {
  @apply font-normal text-neutral-500;
}

.table-snw-gen {
  @apply text-sm;

  th,
  td {
    @apply pl-2 pr-2;
    @apply py-2;

    &:first-of-type {
      @apply pl-4;
    }
    &:last-of-type {
      @apply pr-4;
    }
  }
}

.table-snw-gen-cell {
  @apply px-4 py-2;
}

.table-snw-gen-cell--inventory {
  @apply px-4 py-1;
}

.table tbody tr,
.table tbody tr.active:nth-child(odd),
.table-zebra tbody tr:nth-child(odd) {
  @apply bg-white;
  @apply border-0;
}

.table tbody tr.active,
.table tbody tr.active:nth-child(even),
.table-zebra tbody tr:nth-child(even) {
  @apply bg-gray-50;
  @apply border-0;
}

.table-zebra {
  tbody tr:hover {
    @apply bg-gray-100 !important;
  }
}

.table-stats tbody td,
.table-bonuses tbody td {
  @apply text-base;
  @apply md:text-sm;
  @apply py-2;
  text-overflow: ellipsis;

  &:first-of-type {
    @apply pl-4 pr-2;
  }
  &:last-of-type {
    @apply pl-1 pr-2;
  }
}

.table-stats tbody td {
  &:last-of-type {
  }
}

.inventory-container {
  @apply border-8 border-neutral-content;

  &.selected {
    @apply border-secondary;
  }
}

.char-stats-row {
  @apply mb-4;
}

.inventory-column {
  details {
    border: 0;
  }

  summary {
    @apply text-sm sm:text-base;
    background: theme('colors.neutral-content');

    &:hover {
      @apply bg-accent;
    }
  }
}

.text-details--alt {
  @apply text-neutral-400;
}

.page-footer {
  @apply text-secondary;
  @apply border-gray-500 border-dashed border-2;
  @apply px-4 py-6;
  @apply mx-auto my-4;
  @apply w-full;
}

.label-text {
  overflow-wrap: break-word;
  word-break: break-word;
  min-width: 0;
  color: inherit;
}
